@media only screen and (max-width: 900px) {

    .contain {
        grid-template-columns: 1fr 1fr;
        padding: 30px;
    }

}
@media only screen and (max-width: 500px) {

    .contain {
        grid-template-columns: 1fr;
        padding: 20px;
    }

}